*{
    margin: auto;
    font-smooth: never;
    -webkit-font-smoothing: none;
    font-family: "pokemon-font", monospace;
    color:yellow;
    font-weight: revert;
    padding: 0;
    background-color: black;
    text-align: center;

}

h1{
    margin:3%;
    font-size: 4rem;
}

h2{
    margin-top: 10px;
    font-size: 1.75rem;
}

h1,h2{
    text-shadow: 2px 2px blue;
}

table{
    text-align: center;
    border: 2px solid white;
    margin-bottom: 10px;
    margin-top: 10px;
}

th{
    border: 2px solid white;
}

td{
    padding:15px;
    border: 2px solid white;
    color:#929292;
}